<article class="informacion row">
    <div class="info col-8 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-8 card">
        <img src="./assets/imgs/apreton.png" alt="Apreton de Manos" class="card-img-top" width="80">
        <span class="card-title">1 año de garantía legal y 15 días o 3.000 km de prueba</span>
    </div>
    <div class="info col-8 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-8 card">
        <img src="./assets/imgs/grua.png" alt="Grua" class="card-img-top">
        <span class="card-title">Recoge tu coche en cualquiera de nuestros centros o te lo llevamos a casa en 24/48h</span>
    </div>
    <div class="info col-8 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-8 card">
        <img src="./assets/imgs/contrato.png" alt="Contrato" class="card-img-top" width="80">
        <span class="card-title">Nuestros coches son revisados en 250 puntos y certificados</span>
    </div>
</article>