<header class="container-fluid">
    <div class="row">
        <div id="cambioTextoHeader" class="col-12">{{textoCambiado}}</div>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light ver">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- logo -->
    <a class="navbar-brand" href="#">
        <img src="./assets/imgs/hotCars.png" width="30" height="30" alt="gfsdg">
    </a>

    <!-- enlaces -->
    <div class="collapse navbar-collapse" id="opciones">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ver">Comprar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="vender">Vender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto">Contacto</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Concesionarios
                </a>
                <ul class="dropdown-menu" *ngFor="let item of concesionarios">
                    <li><a class="dropdown-item" href="{{item.localizacion}}">{{item.name}}</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="favoritos">Favoritos</a>
            </li>
        </ul>
    </div>
</nav>
