<div class="row rowFullForm">
    <div class="col-md-6 offset-md-3">
      <form>
        <div class="row">
          <div class="form-group col-md-6  formularioVender">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
          </div>
          <div class="form-group col-md-6  formularioVender">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" placeholder="Ingresa tu apellido">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6  formularioVender">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico">
          </div>
          <div class="form-group col-md-6  formularioVender">
            <label for="telefono">Teléfono:</label>
            <input type="tel" class="form-control" id="telefono" placeholder="Ingresa tu número de teléfono">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
  