<div class="container-xl mt-5 mb-5" *ngFor="let item of car">
    <section class="row">
        <h1 *ngIf="false">Reservar coche</h1>
        <article class="col-12 col-md-12 col-lg-7">
            <h1 class="text-start titulos">Tu coche solo está a cuatro pasos de ti</h1>
            <div class="row mt-3">
                <div class="col-2 col-md-1 numbers">
                    <span class="">1</span>
                </div>
                <div class="col-10 col-md-11 d-flex align-items-center">
                    <span class="spanNumbers">Realiza la reserva del vehículo.</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2 col-md-1 numbers">
                    <span class="">2</span>
                </div>
                <div class="col-10 col-md-11 d-flex align-items-center">
                    <span class="spanNumbers">Un comercial se pondrá en contacto contigo para acompañarte en el proceso de compra.</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2 col-md-1 numbers">
                    <span class="">3</span>
                </div>
                <div class="col-10 col-md-11 d-flex align-items-center">
                    <span class="spanNumbers">Tú decides cómo quieres pagar y dónde quieres recibir el vehículo.</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2 col-md-1 numbers">
                    <span class="">4</span>
                </div>
                <div class="col-10 col-md-11 d-flex align-items-center">
                    <span class="spanNumbers">¡Ya puedes disfrutar de tu nuevo coche!</span>
                </div>
            </div>
        
            <p class="mt-5 text-start">Si has reservado un vehículo pero no se adapta a ti, no te preocupes. Puedes utilizar el importe abonado
                en otro coche.</p>
            <p>Tienes alguna duda? No te preocupes y consultanos <a href="contacto" class="text-danger">aquí</a></p>
        
            <h2 class="text-start titulos">Ventajas de comprar en HotCars</h2>
            <p class="text-start">Comprar un coche en HotCars es sinónimo de confianza. Así lo demuestran todos nuestros clientes.
                Realizamos una verificación de 250 puntos en todo nuestro stock, te damos
                un periodo de prueba de 15 días o 1.000 kilómetros y disfrutarás de un año de garantía.
            </p>
            <div class="col-12 row mt-5">
                <div class="col-12 col-md-6 d-flex justify-content-start">
                    <button type="button" class="btn btn-success botones" (click)="reservar(item)">Quiero reservar</button>
                </div>
                <div class="col-12 col-md-6 d-flex justify-content-start mt-3">
                    <button type="button" class="btn btn-success botones" (click)="consulta()">Necesito más información</button>
                </div>
            </div>
        </article>
        
        <!--  -->
        <article class="col-5 borderIzquierda d-none d-md-none d-lg-flex d-xl-flex"> 
            <h2 *ngIf="false">Reservar coche</h2>          
            <div class="row">
                <h3 class="text-start">Tu próximo coche</h3>
                <div class="col-12">
                    <img [src]="'http://localhost/rest/' + ruta" [alt]="item.nameMark" class="d-flex justify-content-start" width="380.95" height="285.7">
                </div>
                  
                <div class="row text-start mt-3 ">
                    <div class="col-12">
                        <h2 class="">{{item.nameMark + ' ' + item.nameModel + ' ' + item.nameVersion}}</h2>
                    </div>
                </div>
                <div class="row text-start">
                    <div class="col-12">
                        <h3 class="tituloCavallosVersion">{{ item.cv + ' CV ' + item.nameVersion}}</h3>
                    </div>
                </div>
                <div class="row text-start">
                    <div class="col-12 textInfoCar mt-3">
                        <span class="bg-gray">{{item.anyo + ' '}}</span>
                        <span class="bg-gray">{{item.km | number}} km </span>
                        <span class="bg-gray">{{item.combustible + ' '}}</span>
                        <span class="bg-gray">{{item.caja_de_cambios + ' '}}</span>
                        <span class="bg-gray">{{item.num_plazas + ' plazas'}}</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <img src="./assets/imgs/hotCars.png" width="100" height="100" alt="gfsdg">
                    </div>
                    <div class="col-10 row text-start">
                        <span class="textoGarantias col-12">
                            <span class="tick">
                                <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.783 4.04a.25.25 0 0 1 0 .354l-6.5 6.5a.25.25 0 0 1-.354 0l-3.5-3.5a.25.25 0 0 1 .354-.354l3.146 3.147 6.146-6.147a.25.25 0 0 1 .354 0z" />
                                </svg>
                            </span>
                            <span class="gratis">Gratis</span> revisión 250 puntos
                        </span>
                        <span class="textoGarantias col-12">
                            <span class="tick">
                                <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.783 4.04a.25.25 0 0 1 0 .354l-6.5 6.5a.25.25 0 0 1-.354 0l-3.5-3.5a.25.25 0 0 1 .354-.354l3.146 3.147 6.146-6.147a.25.25 0 0 1 .354 0z" />
                                </svg>
                            </span>
                            <span class="gratis">Gratis</span> garantía legal 1 año
                        </span>
                        <span class="textoGarantias col-12">
                            <span class="tick">
                                <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.783 4.04a.25.25 0 0 1 0 .354l-6.5 6.5a.25.25 0 0 1-.354 0l-3.5-3.5a.25.25 0 0 1 .354-.354l3.146 3.147 6.146-6.147a.25.25 0 0 1 .354 0z" />
                                </svg>
                            </span>
                            <span class="gratis">Gratis</span> certificación de estado
                        </span>
                        <span class="textoGarantias col-12">
                            <span class="tick">
                                <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.783 4.04a.25.25 0 0 1 0 .354l-6.5 6.5a.25.25 0 0 1-.354 0l-3.5-3.5a.25.25 0 0 1 .354-.354l3.146 3.147 6.146-6.147a.25.25 0 0 1 .354 0z" />
                                </svg>
                            </span>
                            <span class="gratis">Gratis</span> 15 días o 1000km de prueba
                        </span>
                        
                    </div>
                    <span class="text-start gastos mt-3">Gastos de gestión y logística 390 €*.</span>
                </div>
            </div>
        </article>
    </section>
</div>