<article class="row mb-5">
  <h3 *ngIf="false">Coches de ocasión</h3>
  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 mt-5" *ngFor="let item of resultados">
    <div class="card carta" style="min-height: 600px;">
      <div class="reservado" *ngIf="item.estadoReserva > 0">Reservado</div>

      <div *ngIf="item.rutas">
        <img [src]="'http://localhost/rest/' + item.rutas[0]" [alt]="item.nameMark" class="card-img-top" height="300">
      </div>

      <div *ngIf="!item.rutas">
        <img [src]="" [alt]="item.nameMark" class="card-img-top" height="300">
      </div>

      <div class="card-body" (click)="cochePulsado(item.id)">
        <div class="row">
          <div class="col-12">
            <h2 class="card-title" style="color: rgb(24, 42, 94);">{{item.nameMark + ' ' + item.nameModel}}</h2>
            <h3 class="card-text" style="color: gray;">{{item.nameVersion}}</h3>
          </div>
          <div class="col-12 mt-3">
            <h5 class="card-text precio" style="color: rgb(24, 42, 94);">{{item.price | currency:'EUR'}} <small
                style="font-size: 14px;">/contado</small></h5>
            <p class="card-text" style="color: rgb(40, 58, 110);">{{ calcularCuota(item.price - 1000, plazo)|
              currency:'EUR' }}/mes</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="card-text">{{item.anyo}} | {{item.km | number}} km | {{item.combustible}} |
              {{item.caja_de_cambios}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>