<article class="row mb-5">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3" *ngFor="let item of resultados" style="margin-top: 5%; position: relative;">
        <div class="card carta" style=" min-height: 428px;">      
          <div class="reservado" *ngIf="item.estadoReserva > 0">Reservado</div>
    
          <div *ngIf="item.rutas">
            <img [src]="'http://localhost/rest/' + item.rutas[0]" [alt]="item.nameMark" class="card-img-top" height="300">
          </div>
    
          <div *ngIf="!item.rutas">
            <img [src]="" [alt]="item.nameMark" class="card-img-top" height="300">
          </div>
          
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 row">
                <h2 class="card-title col-12 text-start" style="color: rgb(24, 42, 94);">{{item.nameMark + ' ' + item.nameModel}}</h2>
                <h3 class="card-text col-12 text-start" style="color: gray;">{{item.nameVersion}}</h3>
                       
              </div>
              <div class="col-sm-12 row mt-3">
                <h5 class="card-text precio col-7 text-start" style="color: rgb(24, 42, 94);">{{item.price | currency:'EUR'}} <small style="font-size: 14px;">/contado</small></h5>   
                <p class="card-text col-5"  style="color: rgb(40, 58, 110);">{{ calcularCuota(item.price - 1000, plazo)| currency:'EUR' }}/mes</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 textInfoCar mt-3 text-start">
                  <span class="bg-gray">{{item.anyo + ' '}}</span>
                  <span class="bg-gray">{{item.km | number}} km </span>
                  <span class="bg-gray">{{item.combustible + ' '}}</span>
                  <span class="bg-gray">{{item.caja_de_cambios + ' '}}</span>  
              </div>
            </div>
          </div>
        </div>
      </div>
</article>