<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-5 col-xl-4" *ngFor="let item of currentItems" style="margin-top: 5%; position: relative;">
        <div class="divEstrella" [ngClass]="item.esFavorito ? 'divEstrella estrella' : 'divEstrella'" (click)="deleteFavorito(item)" *ngIf="usuario && usuario.rol != 'admin'">
            <i class="fas fa-thin fa-star"></i>
          </div>
        <div class="card carta  titulos" (click)="cambiarAcocheSeleccionado(item)">
            <div class="reservado" *ngIf="item.estadoReserva > 0">Reservado</div> 
            <img src="{{item.img}}" [alt]="item.nameMark" class="card-img-top" height="250">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h5 class="card-title">{{item.nameMark + ' ' + item.nameModel}}</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="card-text precio">{{item.price | currency:'EUR'}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="card-text">{{item.nameVersion}}</p>
                    </div>
                    <div class="col-6">
                        <p class="card-text"><small>{{item.price / 56 | currency:'EUR'}}/MES</small></p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <p class="card-text">{{item.anyo}} | {{item.km | number}} km | {{item.combustible}} | {{item.caja_de_cambios}}</p>
                    </div>
                </div>
        </div>
        </div>
    </div>
    <div *ngIf="currentItems.length == 0" class="titulos">
        <h5>No tiene ningún vehiculo favorito. Si quiere puede añadirlos en el apartado comprar.</h5>
    </div>
    <div style="margin-top: 4%;" *ngIf="currentItems.length > 0">
        <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="page === 1">
                <a class="page-link" href="javascript:void(0)" (click)="prevPage()">Anterior</a>
              </li>
              <li class="page-item" [class.disabled]="page === pageCount">
                <a class="page-link" href="javascript:void(0)" (click)="nextPage()">Siguiente</a>
              </li>
            </ul>
          </nav>
      </div>
</div>