
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="subscribe-form">
          <h2>¿Quieres recibir nuestras novedades?</h2>
          <p>¡Suscríbete a nuestro boletín de noticias y te mantendremos informado sobre nuestras promociones, descuentos y nuevos productos!</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Ingresa tu correo electrónico">
            </div>
            <button type="submit" class="btn btn-primary">Suscribirme</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  