<article>
    <div class="cochesAelegir">
        <h3 class="encuentraMarca">Elige el vehiculo que más le guste y le interese</h3>

        <div class="cuadriculaCoches row">
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="#"><img src="./assets/imgs/typesCar/suv-4x4-1.webp" alt="suv"></a>
                <a href="#">SUV</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="#"><img src="./assets/imgs/typesCar/compacto.webp" alt=""></a>
                <a href="#">Compacto</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="#"><img src="./assets/imgs/typesCar/berlina.webp" alt=""></a>
                <a href="#">Berlina</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="#"><img src="./assets/imgs/typesCar/cabriolet.webp" alt=""></a>
                <a href="#">Cabrio</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="#"><img src="./assets/imgs/typesCar/coupe.webp" alt=""></a>
                <a href="#">Coupe</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="#"><img src="./assets/imgs/typesCar/familiar.webp" alt=""></a>
                <a href="#">Familiar</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="#"><img src="./assets/imgs/typesCar/furgoneta.webp" alt=""></a>
                <a href="#">Furgoneta</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="#"><img src="./assets/imgs/typesCar/monovolumen.webp" alt=""></a>
                <a href="#">Monovolumen</a>
            </div>
        </div>
    </div>
</article>