<article>
    <div class="cochesAelegir">
        <h3 class="encuentraMarca fs-2 fw-bold ">Elige el vehiculo que más le guste y le interese</h3>

        <div class="cuadriculaCoches row">
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="carroceria/SUV"><img src="./assets/imgs/typesCar/suv-4x4-1.webp" alt="suv"></a>
                <a href="carroceria/SUV">SUV</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="carroceria/Compacto"><img src="./assets/imgs/typesCar/compacto.webp" alt="Compacto"></a>
                <a href="carroceria/Compacto">Compacto</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="carroceria/Berlina"><img src="./assets/imgs/typesCar/berlina.webp" alt="Berlina"></a>
                <a href="carroceria/Berlina">Berlina</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="carroceria/Cabrio"><img src="./assets/imgs/typesCar/cabriolet.webp" alt="Cabrio"></a>
                <a href="carroceria/Cabrio">Cabrio</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="carroceria/Coupé"><img src="./assets/imgs/typesCar/coupe.webp" alt="Coupe"></a>
                <a href="carroceria/Coupé">Coupe</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="carroceria/Familiar"><img src="./assets/imgs/typesCar/familiar.webp" alt="Familiar"></a>
                <a href="carroceria/Familiar">Familiar</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="carroceria/Furgoneta"><img src="./assets/imgs/typesCar/furgoneta.webp" alt="Furgoneta"></a>
                <a href="carroceria/Furgoneta">Furgoneta</a>
            </div>
            <div class="tipos col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                <a href="carroceria/Monovolumen"><img src="./assets/imgs/typesCar/monovolumen.webp" alt="Monovolumen"></a>
                <a href="carroceria/Monovolumen">Monovolumen</a>
            </div>
        </div>
    </div>
</article>