<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-5 col-xl-4" *ngFor="let item of resultados" style="margin-top: 5%;">
    
        <div class="card" style="height: 100%;">
            <img src="{{item.img}}" [alt]="item.nameMark" class="card-img-top" height="200">
            <div class="card-body">
                <p class="card-text" id="resultados">
                    <a href="{{item.img}}"> {{item.nameMark}}</a>
                </p>
            </div>
        </div>
    </div>
</div>