
<div id="sidebar">
    <div class="d-flex ">
        <h3 class="text-black filtros col-6">
            Filtros
        </h3>
        <button class="col-6 buttonClean" (click)="clean()">Limpiar</button>
    </div>
    <hr class="text-black">
    <div class="col">
        <form class="d-flex formFilters" (change)="buscarFiltrando()">
            <label for="marca" class="text-black">Marca</label>
            <select name="marca" id="marca" class="form-select form-control" (change)="cambio()" [(ngModel)]="filtrar.carName" style="color: black!important;">
                <option class="dropdown-item" disabled selected>{{filtrar.carName}}</option>
                <option [value]="item" *ngFor="let item of desplegableMarca" >{{item}}</option>
            </select>

            <label for="modelo" class="text-black">Modelo</label>
            <select name="modelo" id="modelo" class="form-select" [disabled]="hayMarca" [(ngModel)]="filtrar.nameModel">
                <option disabled [selected]="true">{{filtrar.nameModel}}</option>
                <option [value]="item" *ngFor="let item of desplegableModelo" >{{item}}</option>
            </select>

            <div class="form-group">
                <label for="precio">Precio</label>
                <ng5-slider [(value)]="value" [options]="options" name="precio" (userChangeEnd)="buscarFiltrando()"></ng5-slider>
                <div class="precio-rango">
                  <span class="rango-izquierdo">{{ formatCurrency(value, 'EUR') }}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="precio">Kilometros</label>
                <ng5-slider [(value)]="valueKm" [options]="optionsKm" name="kilometros" (userChangeEnd)="buscarFiltrando()"></ng5-slider>
                <div class="precio-rango">
                  <span class="rango-izquierdo">{{ valueKm | number}}</span>
                </div>
            </div>
        </form>           
    </div>
</div>

