.buttonClean {
    height: 50%;
    align-self: center;
}

.buttonClean:hover {
    background-color: brown;
    color: white;
}

.formFilters {
    font-size: 1.3rem!important;
}

#sidebar {
    background-color: rgb(226, 226, 226);
    min-height: 200vh;
    height: 200%;
  }
  
@media (max-width: 1592px){
    #sidebar {
        min-height: 185vh;
    }
}

@media (max-width: 1308px){
    #sidebar {
        min-height: 192vh;
    }
}

@media (max-width: 1199px){
    #sidebar {
        min-height: 280vh;
    }
}

@media (max-width: 990px){
    #sidebar {
        min-height: auto;
        padding-bottom: 10px;
    }
}