.container {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .login {
    padding: 50px;
    height: auto;
    border-radius: 10px;
}

.login h2 {
    font-family: monospace;
    font-weight: bold;
}

.login input {
    border-radius: 50px;
}

.login button {
    border-radius: 50px;
    background-color: brown;
}

.login button:hover {
    background-color: rgb(66, 16, 16);
}

.login a {
    text-decoration: none;
    color: gray;
}

.login a:hover {
    color: brown;
    transition: 1s ease;
    cursor: pointer;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .input100 {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }

  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: brown;
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }

  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    font-size: 15px;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: brown;
    padding-left: 28px;
  }

  .contactos button{
    border-radius: 10px;
    background-color: brown;
    padding: 10px;
    font-size: 1.5rem;
    color: white;
    border: 1px solid black;
  }

  .contactos button:hover {
    background-color: rgb(116, 29, 29);
}

  .informacionContacto{
    border-right: 1px solid red;
  }

  .form-check-input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px!important;
    float: none;
  }
  
  .borrar {
    width: 100%; 
    height: 65px;
    color: red!important;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.borrar:hover {
    color: brown!important;
}

.columnas {
    cursor: pointer;
}

.excel {
    color: green;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.excel:hover {
    color: rgb(2, 49, 2);
}

@media (max-width: 1028px){
  .borrar {
      height: 90px;
      
  }
}