@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~ngx-toastr/toastr.css';

body {
    text-align: center!important;
}

#cambioTextoHeader {
    padding: 3px;
    background-color: rgb(138, 48, 45);
    color: white;
    transition: all 1s;
}

nav {
    background-color: rgb(255, 251, 245);
}

.navbar-brand img {
    width: 100%;
    height: 130px;
}

.navbar {
    text-align: center ;
    padding: 0px;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}

.bg-body-tertiary {
    background-color: rgb(255, 251, 245)!important;  
}

.navbar-collapse {
    flex-grow: 0;
}

.collapse {
    justify-content: center;
}

/* Portada */

#portada {
    background-image: url("assets/imgs/portada.jpg");
    height: 700px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.fondoLogin {
    margin-top: 1px;
    background-image: url("assets/imgs/portada.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.fondoContacto {
    margin-top: 1px;
    background-image: url("assets/imgs/portada.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 55vh;
    display: flex;
    align-items: center;
}

.contactos {
    width: 100%;
    font-size: 2rem;
    color: white;
}

.fondoContactoEncuentra {
    margin-top: 1px;
    background-image: url("assets/imgs/portada.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 35vh;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

#portadaTitulo {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.buscar {
    color: white;
    border-color: rgb(138, 48, 45);
}

.buscar:hover {
    background-color: rgb(138, 48, 45);
}

.buscador {
    width: 70%;
}

.portadon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.spanPortada {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color:black; 
    background-color: white; 
    border-radius: 10px; 
    padding: 2px;
}

.pat {
    color: white;
    background-color: transparent;
}

.precio-rango {
    display: flex;
    justify-content: space-between;
}
.rango-izquierdo {
text-align: left;
}
.rango-derecho {
text-align: right;
}

.amplia {
    font-weight: normal;
    font-size: 1.2rem;
}

.botonesPortada {
    display: flex;
    gap: 10px;
}

.botonesPortada button{
    background-color: rgb(138, 48, 45);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
}

.botonesPortada button a {
    text-decoration: none;
    color: white;
}

.botonesPortada button:hover {
    background-color: rgb(34, 133, 34);
    transition: all 0.5s;
}

.carousel {
    margin-top: 5%;
    padding-bottom: 100px;
}

.carousel-control-next-icon {
    background-image: url("assets/imgs/flechaNext.png");
}

.carousel-control-prev-icon {
    background-image: url("assets/imgs/flechaPrevious.webp");
}

.carousel-item {
    transition: all 1s;
}

.carousel-indicators {
    position:absolute;
    top: 80%;
}

.carousel-indicators button {
    background-color: red!important;
}

.flechaIzquierda {
    position: absolute;
}

.flechaDerecha {
    position: absolute;
    
}

.cochesAelegir {
    margin-top: 5%;
    background-color: rgb(94, 35, 33);
    color: white;
    font-weight: bold;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.encuentraMarca {
    margin-top: 2.5%;
}

.carrusel {
    display: flex;
    justify-content: center;
}

.cuadriculaCoches {
    display: flex;
    justify-content: center;
}

.tipos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipos img {
    width: 60%;
}

.tipos img:hover {
    filter: grayscale(40%);
    transition: all 0.5s;
}

.tipos a {
    width: 80%;
    text-decoration: none;
    color: white;
}

.tipos a:hover {
    color: brown;
    transition: all 0.5s;
}

/* Información */

.informacion {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 5%;
}

.info {
    background-color: beige;
    box-shadow: 1px 1px 15px 1px;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.info img {
    width: 60%;
}

.info span {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(19, 46, 37);
    font-weight: bold;
}

/* Patrocinador */

.patroFondo {
    background-image: url("assets/imgs/heinekenFondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-top: 5%;

}

.patroFondo h3 {
    font-weight: bold;
    font-size: 3rem;
}

.patroFondo span {
    
    font-size: 1.2rem;
}

.patronFondo {
    width: 40%;
     display: flex;
    flex-direction: column;
    /*
    width: 40%;
    
    text-align: center;
    
    padding-top: 200px; */
    color: white;
    gap: 40px;
}

.patronFondo button {
    width: 60%;
    align-self: center;
    background-color: rgb(138, 48, 45);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
}

.patronFondo button a {
    text-decoration: none;
    color: white;
}

.patronFondo button:hover {
    background-color: rgb(34, 133, 34);
    transition: all 0.5s;
}

#linea {
    border: 10px solid;
}

/* Footer */

footer {
    background-color: rgb(15, 39, 58);
    padding: 40px;
    color: white;
}

.primerFooter {
    display: flex;
    justify-content:space-around;
}


.primerFoot img {
    width: 20%;
}

/* Carrusel Ocasion */

.cochesOcasion {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.ocasiones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    margin-top: 3%;
    border-radius: 10px;
}

.ocasiones img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.navbar {
    justify-content: space-around!important;
}

#sidebar {
    min-height: 100vh;
    height: 100%;
    color: black;
    background-color: rgb(236, 236, 236);
}

.text-black {
    margin: 0px;
}

.ver {
    box-shadow: 1px 1px 1px 1px gray;
}

.filtros {
    padding: 10px;
}

.formFilters {
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:start;
    font-weight: bold;
    margin-top: 8px;
}

.form-select {
    font-size: 14.5px;
    font-weight: bold;
}

.form-select:disabled {
    background-color: rgb(204, 204, 204);
}

.carta {
    box-shadow: 1px 1px 15px 1px black;
    padding: 5px;
}

.carta:hover {
    box-shadow: 1px 1px 30px 1px black;
    cursor: pointer;
}

.subscribe-form {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
  }
  
  .subscribe-form h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .subscribe-form p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .subscribe-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .subscribe-form .form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .subscribe-form .form-control {
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    font-size: 18px;
    width: 100%;
  }
  
  .subscribe-form .btn {
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 30px;
    margin-left: 20px;
  }

  .card {
    border: 1px solid #808080; /* Borde gris de la tarjeta */
    padding: 20px;
  }
  
  .star-icon {
    font-size: 20px; /* Ajusta el tamaño de la estrella según tus necesidades */
    color: #808080; /* Color del borde gris de la estrella */
    cursor: pointer;
  }
  
  .star-selected {
    color: #000000; /* Color negro de la estrella seleccionada */
  }
  
  
  

  
@media (max-width: 770px){
    .patroFondo {
        background-image: none;
        display: none;
    }
}